{% extends "basezero.html" %}


{% block container %}

{% load staticfiles %}
<!--
<div id="st-container" class="st-container">

		<nav class="st-menu st-effect-4" id="menu-4" style="background-color: rgb(20, 141, 136);">
			<h2 class="icon icon-lab">Menu</h2>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="{% url 'map' %}" >Map</a></li>
				<li><a href="#">Destinations</a></li>
				<li><a href="#contact">Contact us</a></li>
			</ul>
		</nav>

		<div class="st-pusher">
			<div class="st-content">
			-->


			<div class="uk-offcanvas-content">

		
				<div id="offcanvas-nav-primary" uk-offcanvas="mode: push">
					<div class="uk-offcanvas-bar uk-flex uk-flex-column">
			
						<ul class="uk-nav uk-nav-primary uk-nav-left uk-margin-auto-vertical">
							
							<li class="uk-nav-header">Menu</li>
							<li class="uk-nav-divider"></li>

							<li><a href="#"><span  uk-icon="icon: home"></span> Home</a></li>
							<li><a href="#destinations"><span  uk-icon="icon: thumbnails"></span> Destinations</a></li>
							<li><a href="{% url 'map' %}" ><span  uk-icon="icon: world"></span> Map</a></li>
							<li><a href="#contact" onclick="jQuery.UIkit.offcanvas.offcanvas.hide();" data-uk-smooth-scroll="{offset:130}" ><span  uk-icon="icon: mail"></span> Contact Us</a></li>

							<li class="uk-nav-divider"></li>
							<li><a style="font-size: 15px;" href="https://www.instagram.com/seebgar/"><span class="uk-margin-small-right" uk-icon="icon: instagram; ratio: 0.7" ></span> @turylatina</a></li>
							<li><a style="font-size: 15px;" href="#"><span class="uk-margin-small-right" uk-icon="icon: google; ratio: 0.7"></span> turylatina@gmail.com</a></li>
							<li><a style="font-size: 15px;" href="#"><span class="uk-margin-small-right" uk-icon="icon: whatsapp; ratio: 0.7"></span> +57 1 (xxx) xxx xxxx</a></li>

						</ul>
			
					</div>
				</div>
			



				<header>
					<div class="column">
						<a uk-toggle="target: #offcanvas-nav-primary" style="color: white; font-size: 40px;"><ion-icon name="menu"></ion-icon></a>
					</div>
					<div class="over row" style="text-align: center; font-size: 20px">
						<img src="{% static 'style/resources/logo/logo_im.png'%}" alt="logo image" width="270em" height="auto">
					</div>
					<div class="ui form header_form">
						<div class="four fields">
						</div>
					</div>
				</header>
			


				<div class="cities" id="destinations">
					<div class="ui container">
						{% block cities %}{% endblock %}
					</div>
				</div>
			

				<div class="reservation">
					<div class="ui text container">
						{% block reservationform %}{% endblock %}
					</div>
				</div>
			
			

				<footer>
					{% block footer %}{% endblock %}
				</footer>
				
			
			</div>





				
			
			
			<!--
			
			</div>
			<!-- /st-content 
		</div><!-- /st-pusher 
	</div><!-- /st-container -->

{% endblock %}