{% extends "basezero.html" %}


{% block container %}

{% load staticfiles %}

<div id="st-container" class="st-container">

		<nav class="st-menu st-effect-4" id="menu-4" style="background-color: rgb(20, 141, 136);">
			<h2 class="icon icon-lab">Menu</h2>
			<ul>
				<li><a href="">Home</a></li>
				<li><a href="{% url 'detail' 1 %}" >Map</a></li>
				<li><a href="">Destinations</a></li>
				<li><a href="">Contact us</a></li>
			</ul>
		</nav>

		<div class="st-pusher">
			<div class="st-content">
				<!-- this is the wrapper for the content -->
			
			
				<div>
					{% block city %}{% endblock %}
				</div>
			
				<header>

					
					<div id="st-trigger-effects" class="column">
						<a data-effect="st-effect-4" style="color: white; font-size: 40px;"><ion-icon name="menu"></ion-icon></a>
					</div>

			
					<div class="over row" style="text-align: center; font-size: 20px">
						<img src="{% static 'style/resources/logo/logo_im.png'%}" alt="logo image" width="270em" height="auto">
					</div>
					
			
					<div class="ui form header_form">
						<div class="four fields">
			
							<div class="field">
								<input type="text" placeholder="Departure">
							</div>
			
							<div class="field">
								<input type="text" placeholder="Destination">
							</div>
			
							<div class="field">
								<div class="ui calendar" id="rangestart">
									<div class="ui input left icon">
										<i class="calendar icon"></i>
										<input type="text" placeholder="From">
									</div>
								</div>
							</div>
			
							<div class="field">
								<div class="ui calendar" id="rangeend">
									<div class="ui input left icon">
										<i class="calendar icon"></i>
										<input type="text" placeholder="To">
									</div>
								</div>
							</div>
			
						</div>
					</div>
			
					<div class="row">&nbsp;</div>
					<div class="row">&nbsp;</div>
				</header>
			



				<div class="cities" id="destinations">
					<div class="ui container">
						{% block cities %}{% endblock %}
					</div>
				</div>
			
				<div class="reservation">
					<div class="ui text container">
						{% block reservationform %}{% endblock %}
					</div>
				</div>
			
			
				<footer>
					{% block footer %}{% endblock %}
				</footer>
			
			
			
			
			</div>
			<!-- /st-content -->
		</div><!-- /st-pusher -->
	</div><!-- /st-container -->

{% endblock %}