{% extends "base.html" %} {% block title %} Turylatina {% endblock %} {% load staticfiles %} {% block reservationform %}


<style>
  .uk-input, .uk-select, .uk-textarea, .uk-button  {
    border-radius: 0.2em;
  }
</style>

<div id="contact" style="margin: auto; padding: 8em 2em;">

  <h1 style="font-weight: 300; font-family: 'Roboto'; color: white;">Contact Us</h1>







  <form class="uk-grid-small" uk-grid method="POST">  {% csrf_token %}

    <div class="uk-width-1-2@s">
      <input  name="name" class="uk-input" type="text" placeholder="Name" required maxlength="50">
    </div>

    <div class="uk-width-1-2@s">
      <input name="lastname" class="uk-input" type="text" placeholder="Last Name" required maxlength="50">
    </div>

    <div class="uk-width-1-1">
        <input name="email" class="uk-input" type="email" placeholder="Email" required>
      </div>

      <div class="uk-width-1-2@s">
          <input name="phone" class="uk-input" type="number" placeholder="Phone" maxlength="15">
        </div>

    <div class="uk-width-1-2@s">
      <div class="uk-margin">
        <select name="destination" class="uk-select">
          <option disabled selected value> Destination </option>
          <option>Bogotá D.C.</option>
          <option>Cartagena de Indias</option>
          <option>Cali</option>
          <option>Medellin</option>
          <option>Santa Marta</option>
          <option>Barranquilla</option>
          <option>Guaduas</option>
        </select>
      </div>
    </div>

    <div class="uk-width-1-2@s">
      <input name="from_date" class="uk-input" type="text" data-uk-datepicker="{format:'DD.MM.YYYY'}" placeholder="From">
    </div>

    <div class="uk-width-1-2@s">
      <input name="to_date" class="uk-input" type="text" data-uk-datepicker="{format:'DD.MM.YYYY'}" placeholder="To">
    </div>
    

    <div class="uk-margin uk-width-1-1">
      <textarea name="extra" class="uk-textarea" rows="5" placeholder="Anything else?"></textarea>
    </div>



    <div class="uk-margin">
        <button  type="submit" class="uk-button uk-button-default" style="color: white">Submit</button>      
    </div>

   

  </form>











</div>

<br/> 

{% endblock %} 




{% block footer %}
<div class="ui stackable three column grid" style="padding-top: 5em; font-family: 'Roboto'; font-size: 20px;">
  <div class="column" style="color: white; text-align: center">Destinations</div>
  <div class="column" style="color: white; text-align: center">Contact us</div>
  <div class="column" style="color: white; text-align: center">About us</div>
</div>

<div class="ui middle aligned center aligned grid" style="padding-top: 8em;">
  <div class="column" style="color: white;">
    <i class="ion-social-facebook" style="color: white; font-size: 30px;"></i>
  </div>
  <div class="column" style="color: white;">
    <i class="ion-social-instagram" style="color: white; font-size: 30px;"></i>
  </div>
</div>
{% endblock %}